.Header{
    height: 25vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .Logo{
        margin: 50px 50px 0 0;
        img{
            width: 150px;
            height: 150px;
        }
    }
    .Links{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            text-decoration: none;
            margin: 0 20px;
            font-size: 21px;
            color: #f4f4f4;
            transform: all 1s;
            background-image: none;

            &:hover{
                background-image: linear-gradient(rgb(255, 255, 255),white,white,white,red,rgb(255, 0, 0) );
                background-clip: text;
                -webkit-text-fill-color: transparent;
                overflow-y: hidden;
                
            }
        }
    }
}
@media  (max-width:768px){
    .Header{
        width: 100vw;
        height: 25vh;
        justify-content: space-evenly;
        .Logo{
            margin: 0;
        }
        .Links{
            width: 70%;
        }
    }
    
}