.Intro{
    height: 75vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    .Title{
        height:50%;
        width: 100%;
        h1{
            font-family: "Ibarra Real Nova", serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-size: 150px ;
            font-style: normal;
            text-align: center;
            background-image: linear-gradient(rgb(255, 255, 255),white,white,white,white,white,red,rgb(255, 0, 0) ,red,red);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            
        }
        h2{
            font-family: "Ibarra Real Nova", serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-size: 50px !important;
            font-style: normal;
            text-align: center;
        }
    }
}
@media  (max-width:768px){
    .Intro{
        height: 85vh;
        h1{
            font-size: 60px !important;
        }
    }
}